---
layout: single
title: "Xinyuan's Toolbox"
permalink: /toolbox/
redirect_from: /lab/
author_profile: true
---


<p>I build small tools to make my own work and everyday life a little easier: <strong>keeping up with AI, staying organized, learning the craft of IS research, planning meals, and occasionally making academia a little more fun</strong>.</p><p><strong>Xinyuan's Toolbox</strong> brings these projects together in one place. Some are practical tools I use regularly, while others are experiments, learning resources, or small side projects built around problems I wanted to solve for myself. They are all free to use.</p><p>I'm sharing them in case they are useful to others as well. If you try any of them, please feel free to <a href="mailto:xinyuanwei@gsu.edu">contact me</a> with feedback, suggestions, or ideas for improvement. I'd be very happy to hear from you.</p>


<div class="lab-grid">
  {% for project in site.data.toolbox.projects %}
    {% unless project.draft %}
      {% include lab/card.html project=project %}
    {% endunless %}
  {% else %}
    {% include lab/card.html %}
  {% endfor %}
</div>
