---
layout: single
title: "Xinyuan's Toolbox"
permalink: /toolbox/
redirect_from: /lab/
author_profile: true
---


<p>I build some small tools to keep my own life on track -- keeping up with AI, staying organized, learning the craft of IS research, etc. They're free for anyone to use. I would be very happy if you find any one useful to you. <a href="mailto:xinyuanwei@gsu.edu">contact me</a> if you have any feedback or suggestion.</p>


<div class="lab-grid">
  {% for project in site.data.toolbox.projects %}
    {% unless project.draft %}
      {% include lab/card.html project=project %}
    {% endunless %}
  {% else %}
    {% include lab/card.html %}
  {% endfor %}
</div>
