<!-- Google Analytics 4: enabled only on the public website. -->
<script>
  if (window.location.hostname === 'xinyuan-wei-xw.github.io') {
    window.dataLayer = window.dataLayer || [];
    window.gtag = function () { window.dataLayer.push(arguments); };
    gtag('js', new Date());
    gtag('config', {{ site.analytics.google.tracking_id | jsonify }});

    var googleTag = document.createElement('script');
    googleTag.async = true;
    googleTag.src = 'https://www.googletagmanager.com/gtag/js?id=' +
      encodeURIComponent({{ site.analytics.google.tracking_id | jsonify }});
    document.head.appendChild(googleTag);
  }
</script>
